html{
	overflow-x: hidden;
}

#header{
	background: #2473a1;
	border-radius: 0px;
	margin-bottom: 0px;
	box-shadow: 5px 5px 5px #999; 
    -moz-box-shadow: 5px 5px 5px #999;
    -webkit-box-shadow: 5px 5px 5px #999;
}

.general{ 
  font-family:'Roboto', sans-serif;
  margin:0px auto 0; 
  display:block; 
  background:#FFF;
  height: 100%;
}

#wrapper{
	margin-left: 60px;
	position: absolute;
	height: 100%;
	width: 100%;
	margin-top: -20px;
}

#usuario{
	padding: 0 0 0 0;
	height: 100%;
	background: #f1f1f1;
}

#usuario-datos{
	font-size: 18px;
	text-align: left;
	margin: 15px 0 0 5px;	
}

#usuario-img{
	width: 100%;
	height: 200px;
	background: #6797bf;
}

.fa-user-circle-o{
	color: #f1f1f1;
	margin: 15px 0 0 65px;
}

.input-error{
	  box-shadow: 0 0 5px rgba(177, 33, 30, 0.92);
	  padding: 3px 0px 3px 3px;
	  margin: 5px 1px 3px 0px;
	  border: 1px solid rgba(177, 33, 30, 0.92);
}

.fa-5x {
	font-size: 12em !important;
}

.logo-head{
	text-align: center;
    font-size: 14pt;
    line-height: 36px;
    color: #FFF;
}

.btn{
	border-radius: 0px;
}

.lead-label{
	margin-bottom: 5px;
}

hr{
	margin-left: 0px;
}

.tab-receta:hover a, .tab-receta:active a{
	color: #2473a1;
}

.user:hover{
	background:  #6797bf !important;
    font-color: white;
}

.dropdown-menu{
	background: #f1f1f1;
	border-radius: 0px;
}

.search{
	margin-left: 215px;
}

 /* ---------- MODAL ---------- */
.myModal{

}

.modal-header{
	background: #2473a1;
}

.modal-title{
	color: white;
}

.modal-dialog{
	width: 800px;
}

.modal-content{
	border-radius: 3px;
}
/* ---------- END MODAL ---------- */
/* ---------- SIDEBAR ---------- */
.sidebar{
	position: absolute;
	padding-left: 0px;
    margin-top: -20px;
    height: 100%;
}

#sidebar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60px;
    background-color: #e4e4e4;
    height: 100%;
}

li a {
    display: block;
    color: #353535;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #6797bf;
    color: white;
}

/* ---------- END SIDEBAR ---------- */